<div class="container">

	<div class="page-header">
	  <h1>Add New<small>Faculty</small></h1>
	</div>

	<ol class="breadcrumb">
	  <li><a href="#">Home</a></li>
	  <li><a href="#">Faculty</a></li>
	  <li class="active">Add New</li>
	</ol>


	
	<div class="row">

		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Faculty Details</h3>
				</div>
				<div class="panel-body">
					Input
				</div>
			</div>
		</div>


		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Faculty Details</h3>
				</div>
				<div class="panel-body">
					Input
				</div>
			</div>
		</div>

	</div>
	
</div>