<div class="container">

	<div class="page-header">
	  <h1>Search / Reports<small>Data Administration</small></h1>
	</div>

	<ol class="breadcrumb">
	  <li><a href="#">Home</a></li>
	  <li class="active">Search & Reports</li>
	</ol>


	<!--Search Input fields row-->
	<div class="row">

		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Search Faculty</h3>
				</div>
				<div class="panel-body">
					<form>
						<div class="form-group">
							<label>Area</label>
							<input class="form-control" placeholder="Enter area name" ng-model="search.faculty.area">
						</div>
						<button class="btn btn-default">Search</button>
					</form>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Search Student</h3>
				</div>
				<div class="panel-body">
					<form>
						<button class="btn btn-default">Search</button>
					</form>
				</div>
			</div>
		</div>

	</div>




	<!-- SEARCH -->
	<div class="row">
		<div class="col-md-12">
			

			<div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading">
			  	<h3 class="panel-title">Student/Faculty Reports</h3>
			  </div>
			  <div class="panel-body">
			    <!--<p>...</p>-->
			    <p>{{ search.faculty.name }}</p>
			  </div>

			  <!-- Table -->
			  <table class="table table-striped">
			  	<tr>
			  		<th>#</th>
			  		<th>Student/Faculty</th>
			  		<th>Name</th>
			  		<th>Roll</th>
			  		<th>Area</th>
			  		<th>Overdue</th>
			  	</tr>
			  	<tr ng-repeat="r in result | filter:search.faculty">
			  		<td>{{ $index }}</td>
			  		<td>{{ r.type }}</td>
			  		<td>{{ r.name }}</td>
			  		<td>{{ r.roll }}</td>
			  		<td>{{ r.area }}</td>
			  		<td>{{ r.overdue }}</td>
			  	</tr>
			  </table>


			</div>

		</div>
	</div>
	
</div>